<!-- <div><a routerLink="/category/Electronics">Electronics</a></div>
 <div> <span><a routerLink="/category/Fashion">Fashion</a></span></div>  
 <div><span><a routerLink="/category/Books">Books</a></span></div> -->
 <div id="menu-outer">
    <div class="table">
      <ul id="horizontal-list">
        <li class="category"><button class="btn btn-info" routerLink="/category/Electronics">Electronics</button></li>
        <li class="category1"><button class="btn btn-info" routerLink="/category/Fashion">Fashion</button></li>
        <li class="category2"><button class="btn btn-info" routerLink="/category/Books">Books</button></li>
         </ul>
    </div>
  </div>


